*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.box{
    width: 500px;
    background-color: rgb(122, 176, 210);
    border-radius: 15px;
    box-shadow: 5px 5px grey;
    margin: 150px auto;
    color: white;
}
div.box > h1{
    text-align: center;
    padding: 5px;
}
div.box > p{
    text-align: justify;
    font-size: 20px;
    padding: 10px;
}